body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(229, 91%, 91%);
    font-family: Arial, Helvetica, sans-serif;
}
.attribution { 
    width: 350px;
    height: 490px;
    background-color: White;
    border-radius: 15px;
    font-size: 11px; 
    text-align: center;
    padding: 20px;
    text-align: center;
}
.attribution img {
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    height: 300px;
}
.attribution h1{
    margin: 30px;
}
.attribution p{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    color: gray;
}
.attribution a { color: hsl(228, 45%, 44%); }